<div class="container mt-6 bg-dark">
  <h2 class="text-silver">Formulario de Compra de Tickets</h2>

  <form [formGroup]="formTicket" (submit)="comprarTicket()">
    <div class="form-group">
      <label class="text-silver" for="correo">Correo Electrónico:</label>
      <input type="email" class="form-control" formControlName="correo">
    </div>
    
    <div class="form-group">
      <label class="text-silver" for="evento">Evento:</label>
      <div class="dropdown"> <!-- Utilizamos la clase 'dropdown' de Bootstrap -->
        <select class="form-control dropdown-toggle" formControlName="evento" id="evento" data-toggle="dropdown">
          <option *ngFor="let item of eventos">{{item}}</option>
        </select>
        <!-- Agregamos un ícono para indicar el dropdown -->
        <div class="dropdown-menu"> <!-- Clase 'dropdown-menu' para el menú desplegable -->
          <a class="dropdown-item" *ngFor="let item of eventos">{{item}}</a>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="text-silver" for="horario">Horario:</label>
      <div class="dropdown"> <!-- Utilizamos la clase 'dropdown' de Bootstrap -->
        <select class="form-control dropdown-toggle" formControlName="horario" id="horario" data-toggle="dropdown">
          <option *ngFor="let item of horarios">{{item}}</option>
        </select>
        <!-- Agregamos un ícono para indicar el dropdown -->
        <div class="dropdown-menu"> <!-- Clase 'dropdown-menu' para el menú desplegable -->
          <a class="dropdown-item" *ngFor="let item of horarios">{{item}}</a>
        </div>
      </div>
    </div>
    

    <button type="submit" class="btn btn-primary">Comprar Ticket</button>

  </form>
</div>
