.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px); /* Agregar desenfoque */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.input-group {
  position: relative;
}

.input-group input[type="date"],
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  appearance: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0.5, 0.5, 2, 2); /* Agregar sombra */
  transition: transform 0.3s ease; /* Agregar efecto de transición */
}

.btn:hover {
  transform: translateY(-2px); /* Efecto de levantamiento al pasar el mouse */
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

.text-silver {
  color: rgb(247, 244, 244) !important;
}
