<div class="container" style="background-color:white;">
  <h2>Formulario de Compra de Tickets</h2>
  <!--<form #formulario="ngForm" (ngSubmit)="comprarTicket(formulario)">-->
  <form #formTicket="ngForm" [formGroup]="formulario" (ngSubmit)="comprarTicket(formulario)">
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" class="form-control" formControlName="correo" id="correo" name="correo" required [(ngModel)]="correo">
    </div>
    <div class="form-group">
      <label for="evento">Evento:</label>
      <select class="form-control" id="evento" name="evento" required [(ngModel)]="eventoSeleccionado">
        <option *ngFor="let evento of eventos" [ngValue]="evento">{{ evento.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="date" class="form-control" formControlName="fecha" id="fecha" name="fecha" required [(ngModel)]="fecha">
    </div>
    <div class="form-group">
      <label for="horario">Horario:</label>
      <select class="form-control" id="horario" name="horario" required [(ngModel)]="horarioSeleccionado">
        <option *ngFor="let horario of eventoSeleccionado?.horarios">{{ horario }}</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary">Comprar Ticket</button>
    <!--<button type="button" class="btn btn-primary" (click)="comprarTicket(formulario)">Comprar Ticket</button>-->
  </form>
</div>
