.navbar-nav .nav-link {
    color: white !important; /* Cambiar color del texto a blanco */
    transition: color 0.3s; /* Agregar transición de color */
  }
  
  .navbar-nav .nav-link:hover {
    color: #6966e9 !important; /* Cambiar color del texto al pasar el mouse */
  }
  