<div class="d-flex justify-content-center align-items-center m-auto" >  
      <div class="card text-center rounded shadow-lg p-3 mb-5 bg-white rounded d-flex justify-content-center align-items-center" style="width: 30rem;">
      
            <img src="assets/img/ticket.jpg" class="card-img-top" alt="Imagen de la empresa" style="height: 20rem; width: 20rem;">
      
            <div class="card-body larger-text">
                <h5 class="card-title">Sobre nosotros</h5>
                <p class="card-text">Descubre la emoción de vivir momentos inolvidables con nosotros. Somos expertos en la venta de entradas para festivales de arte, conciertos y eventos culturales organizados . ¡No dejes pasar la oportunidad de ser parte de experiencias únicas e inolvidables!</p>
                <a href="#" routerLink="" class="btn btn-primary btn-dark">Ver eventos</a>
              </div>
    </div>
</div>